<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>Driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>URL</param-name>
        <param-value>jdbc:mysql://localhost:3306/java_innovative</param-value>
    </context-param>
    <servlet>
        <servlet-name>AddEvent</servlet-name>
        <servlet-class>AddEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayEvents</servlet-name>
        <servlet-class>displayEvents.displayEvents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEvent</servlet-name>
        <servlet-class>UpdateEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEvent</servlet-name>
        <servlet-class>DeleteEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEventDone</servlet-name>
        <servlet-class>UpdateEventDone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEvent2</servlet-name>
        <servlet-class>ViewEvent2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterEvent</servlet-name>
        <servlet-class>RegisterEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterEventDone</servlet-name>
        <servlet-class>RegisterEventDone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyEvents</servlet-name>
        <servlet-class>MyEvents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelEventRegistration</servlet-name>
        <servlet-class>CancelEventRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfile</servlet-name>
        <servlet-class>editProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfileDone</servlet-name>
        <servlet-class>editProfileDone</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEvent</servlet-name>
        <url-pattern>/AddEvent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StoreP</servlet-name>
        <servlet-class>StoreP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StoreP</servlet-name>
        <url-pattern>/StoreP</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TraH</servlet-name>
        <servlet-class>TraH</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TraH</servlet-name>
        <url-pattern>/TraH</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VaPa</servlet-name>
        <servlet-class>VaPa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VaPa</servlet-name>
        <url-pattern>/VaPa</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValidateAd</servlet-name>
        <servlet-class>ValidateAd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateAd</servlet-name>
        <url-pattern>/ValidateAd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewEvent1</servlet-name>
        <servlet-class>ViewEvent1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewEvent1</servlet-name>
        <url-pattern>/ViewEvent1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayEvents</servlet-name>
        <url-pattern>/displayEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEvent</servlet-name>
        <url-pattern>/UpdateEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEvent</servlet-name>
        <url-pattern>/DeleteEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEventDone</servlet-name>
        <url-pattern>/UpdateEventDone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEvent2</servlet-name>
        <url-pattern>/ViewEvent2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterEvent</servlet-name>
        <url-pattern>/RegisterEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterEventDone</servlet-name>
        <url-pattern>/RegisterEventDone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyEvents</servlet-name>
        <url-pattern>/MyEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelEventRegistration</servlet-name>
        <url-pattern>/CancelEventRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfile</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfileDone</servlet-name>
        <url-pattern>/editProfileDone</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
